# filepath: /Users/canberkaslan/Desktop/KarlilikProjesi/.gitignore
# Sanal ortam klasörü
venv/

# Python cache
__pycache__/

# Google Cloud kimlik bilgileri (ÇOK ÖNEMLİ)
secrets.toml
*.json

# Yerel Excel dosyaları
*.xlsx