# filepath: /Users/canberkaslan/Desktop/KarlilikProjesi/.gitignore
# Python sanal ortamları
.venv
venv/

# PyInstaller tarafından oluşturulan klasörler
/build/
/dist/

# Python cache dosyaları
__pycache__/
*.pyc

# Log dosyaları
*.log

# VS Code ayarları
.vscode/

# Google Cloud kimlik bilgileri (ÇOK ÖNEMLİ)
secrets.toml
*.json

# Yerel Excel dosyaları
*.xlsx

# DMG dosyası
*.dmg